

.subscribe-button {
    border: none;
    background-color: rgb(214, 214, 214);
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    transition: all 0.4s;
    cursor: pointer;
    animation-name: animationb2;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.subscribe-button:hover {
    opacity: 0.7;
}
@keyframes animationb2 {
    100% {
        background-color: rgb(63, 92, 146);
        color: white;
    };
}

.subscribe-button-js {
    background-color: rgb(63, 92, 146);
    color: white;
    transition: all 0.4s;
    animation-name: animationb1;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.subscribe-button-js:hover {
    opacity: 0.7;
}
@keyframes animationb1 {
    100% {
        background-color: rgb(214, 214, 214);
        color: black;
    };
}



.input1 {
    border: 1px solid orange;
    color: black;
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
}

.input1-calculate {
    background-color: rgb(35, 126, 35);
    color: white;
    font: bold;
    padding: 6px 10px 6px 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.input1-calculate:hover {
    opacity: 0.8;
}



.minus {
    background-color: rgb(160, 9, 9);
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s;
}
.minus:hover {
    background-color: brown;
}
.minus:active {
    opacity: 0.8;
}

.plus {
    background-color: rgb(21, 150, 90);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s;
}
.plus:hover {
    background-color: green;
}
.plus:active {
    opacity: 0.8;
}


.numbers {
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.numberminusstyle {
    color: rgb(143, 47, 47);
}
.numberplusstyle {
    color: green;
}




.buttonpro {
    padding: 8px 15px 8px 15px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    background-color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    animation-name: buttonprojsnoob;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
@keyframes buttonprojsnoob {
    100% {
        background-color: rgb(219, 219, 219);
        color: black;
    }
}

.buttonprojs {
    background-color: rgb(219, 219, 219);
    color: black;
    animation-name: buttonprojsmaster;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
@keyframes buttonprojsmaster {
    100% {
        background-color: black;
        color: white;
    }
}







.inputcoststyle {
    color: black;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px 8px 4px 8px;
    font-size: 16px;
}

.calculatebutton {
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    padding: 4px 8px 4px 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
.calculatebutton:hover {
    opacity: 0.8;
}

.dollar {
    color: green;
    font-size: 21px;
}
.dollar- {
    color: red;
    font-size: 21px;
}
.nonumber {
    color: red;
}
.green {
    color: green;
}
.costred {
    color: red;
    font-size: 15px;
    font-weight: normal;
}
.nonumber {
    color: red;
}
.coststyle {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    opacity: 0;
    animation-name: coststyleanim;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
@keyframes coststyleanim {
    100% {
        opacity: 1;
    }
}


.totalstyle {
    position: fixed;
    right: 60px;
    top: 20px;
    font-size: 21px;
    background-color: white;
    color: black;
    padding: 20px 40px 20px 40px;
}
.forpro {
    position: fixed;
    top: 100px;
    right: 10px;
    border: 2px solid orange;
    background-color: white;
}

.totalred {
    color: red;
}
.totalgreen {
    color: green;
}

.casino-div {
    animation-name: casinovar;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
@keyframes casinovar {
    100% {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0px 0px 0px 500px;
        background-color: rgb(223, 223, 223);
    }
}

.casinojs {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px 0px 0px 500px;
    background-color: rgb(223, 223, 223);
    animation-name: casino;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes casino {
    100% {
        transform: translateX(2000px);
    }
}














.todostyle {
    padding: 5px;
    color: rgb(97, 97, 97);
    font-size: 14px;
    border-radius: 4px;
    border: 3px solid orange;
}
.addbutton {
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    color: white;
    background-color: green;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.paragraphstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.diviable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.deletebutton {
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    color: white;
    background-color: rgb(168, 3, 3);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.widthpro {
    width: 200px;
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Ensures text wraps */
    white-space: normal; /* Allows text to wrap */
}