

.subscribe-button {
    border: none;
    background-color: rgb(214, 214, 214);
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    transition: all 0.4s;
    cursor: pointer;
    animation-name: animationb2;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.subscribe-button:hover {
    opacity: 0.7;
}
@keyframes animationb2 {
    100% {
        background-color: rgb(63, 92, 146);
        color: white;
    };
}

.subscribe-button-js {
    background-color: rgb(63, 92, 146);
    color: white;
    transition: all 0.4s;
    animation-name: animationb1;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.subscribe-button-js:hover {
    opacity: 0.7;
}
@keyframes animationb1 {
    100% {
        background-color: rgb(214, 214, 214);
        color: black;
    };
}



.input1 {
    border: 1px solid orange;
    color: black;
    padding: 6px 12px 6px 12px;
    border-radius: 12px;
}

.input1-calculate {
    background-color: rgb(35, 126, 35);
    color: white;
    font: bold;
    padding: 6px 10px 6px 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.input1-calculate:hover {
    opacity: 0.8;
}



.minus {
    background-color: rgb(160, 9, 9);
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s;
}
.minus:hover {
    background-color: brown;
}
.minus:active {
    opacity: 0.8;
}

.plus {
    background-color: rgb(21, 150, 90);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.1s;
}
.plus:hover {
    background-color: green;
}
.plus:active {
    opacity: 0.8;
}


.numbers {
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.numberminusstyle {
    color: rgb(143, 47, 47);
}
.numberplusstyle {
    color: green;
}




.buttonpro {
    padding: 8px 15px 8px 15px;
    color: black;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgb(219, 219, 219);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.buttonprojs {
    background-color: black;
    color: white;
}