
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: rgb(25, 25, 25);
    color: white;
}
a {
    color: white;
}


.game-title {
    font-weight: bold;
    font-size: 30px;
    color: orange;;
}

.primary-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.gametools-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.gametool1 {
    width: 60px;
}

.button1 {
    border-radius: 50%;
    padding: 20px;
    background-color: rgb(25, 25, 25);
    border: 2px solid orange;
    cursor: pointer;
}
.button2 {
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    font-size: 16px;
}

.gameresult-style {
    font-size: 24px;
}

@media(max-width: 500px) {
    .button1 {
        padding: 10px;
    }
    .game-title {
        font-size: 20px;
    }
}

.gamescoresstyle {
    margin-top: -70px;
}
.gamescoresjs {
    margin-top: 0px;
}

.movesstyle {
    transform: translateY(-20px);
}

@media (max-width: 700px) {
    .absolutenums {
        display: none;
    }
}


.primarybarjs {
    background-color: rgb(29, 29, 29);
    padding: 0px 150px 0px 0px; 
    height: 100vh; 
    position: fixed;

    animation-name: barjs;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes barjs {
    100% {
        transform: translateX(-40px);
        opacity: 0;
        display: none;
    }
}