* {
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
    font-family: Arial;
}
a {
    text-decoration: underline;
    color: white;
}

.div-primary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.for2 {
    flex-direction: row;
    gap: 10px;
}
.for3 {
    margin-top: 30px;
}
.primary-div-div1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}
.products-text1 {
    font-size: 16px;
    color: black;
}
.button1 {
    border: none;
    background-color: orange;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: all 0.4s;
}
.button1:hover {
    opacity: 0.7;
}
.for1 {
    background-color: brown;
}
.middle2 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.middle2-div1 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.congrats-div {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.congrats-div-div1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
.absolute1 {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.absolute2 {
    position: fixed;
    left: 50px;
    bottom: 50px;
}
.for4 {
    flex-direction: column;
    align-items: center;
}
.for5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.for6 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}